.header-container {
  background-color: var(--surface-white);
  border-bottom: 0.15rem solid var(--border-light);
  padding: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.info {
  color: var(--text-muted);
  font-size: small;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.avatar-container {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  object-fit: cover;
}

.user-name {
  font-size: small;
  font-weight: 700;
}
