:root {
  --color-primary: #0369a1;
  --color-border: #e5e7eb;
  --color-title: #111827;
  --color-description: #4b5563;
  --color-small: #9ca3af;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}

main {
  border-radius: 1rem;
}

h1,
h2 {
  color: var(--color-title);
}

h2 {
  border: 0.15rem solid var(--color-border);
  border-radius: 0.5rem;
}

h2 {
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 0.15rem solid var(--color-primary);
    color: var(--color-primary);
    transform: translateY(-0.25rem);
  }
}

p {
  color: var(--color-description);
}

small {
  color: var(--color-small);
}
