:root {
  --color-primary: #e21e26;
  --color-secondary: #c11a21;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}
