.new-arrivals {
  width: 25rem;
  overflow: hidden;
}

.products {
  width: 300%;
  animation: slide-animation 12s infinite ease-in-out;
}

.products:hover {
  animation-play-state: paused;
}

.product {
  flex: 1;
}

@keyframes slide-animation {
  0%,
  25% {
    transform: translateX(0);
  }
  33%,
  58% {
    transform: translateX(-33.33%);
  }
  66%,
  91% {
    transform: translateX(-66.66%);
  }
  100% {
    transform: translateX(0);
  }
}
