:root {
  --color-primary: #ffa500;
  --color-secondary: #e69500;

  --container-width-large: 75%;
  --container-width-small: 90%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}

main {
  flex: 1;
}

section {
  scroll-margin-top: 5rem;
}

img {
  display: block;
  object-fit: contain;
  width: 100%;
}

a {
  transition: all 0.3s ease-in-out;
}

.container {
  width: var(--container-width-large);
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.button {
  display: inline-block;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  color: white;
}

.button:hover {
  background-color: white;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.brand-name {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 700;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: var(--color-primary);
}

.hero-right img {
  max-width: 25rem;
  border-radius: 1rem;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.hero-right img:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.experience-card,
.contact-card {
  padding: 2rem;
  border-radius: 1rem;
}

.experience-card {
  cursor: pointer;
  border: 1px solid transparent;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.experience-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-primary);
}

.experience-card:hover h3 {
  color: var(--color-primary);
}

.contact-link {
  color: var(--color-primary);
}

.contact-link:hover {
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  h1 {
    width: 100%;
  }

  h3 {
    font-size: 1rem;
  }

  .body,
  .main {
    gap: 4rem;
  }

  .hero,
  .projects,
  .contact {
    scroll-margin-top: 10rem;
  }

  .container {
    width: var(--container-width-small);
  }

  .header-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .hero {
    flex-direction: column;
  }

  .hero-left {
    width: 100%;
  }

  .hero img {
    width: 100%;
  }

  .experience-card,
  .contact-card {
    padding: 1rem;
  }
}
