/* Variable */
:root {
  --color-primary-orange: #ffa500;
  --color-primary-orange-dark: #e69500;

  --container-width-large: 75%;
  --container-width-small: 90%;
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  line-height: 1.4;
}

main {
  flex: 1;
}

section {
  scroll-margin-top: 5rem;
}

img {
  display: block;
  object-fit: contain;
  width: 100%;
}

a {
  transition: 0.3s ease;
}

/* Layout */
.container {
  width: var(--container-width-large);
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Component */
.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.button {
  display: inline-block;
  background-color: var(--color-primary-orange);
  border: 1px solid var(--color-primary-orange);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  color: white;
}

.button:hover {
  background-color: white;
  border: 1px solid var(--color-primary-orange);
  color: var(--color-primary-orange);
}

.brand-name {
  color: var(--color-primary-orange);
  font-size: 1.3rem;
  font-weight: 700;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: var(--color-primary-orange);
}

.hero-right img {
  max-width: 25rem;
  border-radius: 1rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.hero-right img:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.experience-card,
.contact-card {
  padding: 2rem;
  border-radius: 1rem;
}

.experience-card {
  cursor: pointer;
  border: 1px solid transparent;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-primary-orange);
}

.experience-card:hover h3 {
  color: var(--color-primary-orange);
}

.contact-link {
  color: var(--color-primary-orange);
}

.contact-link:hover {
  color: var(--color-primary-orange-dark);
}

/* Responsive */
@media (max-width: 768px) {
  h3 {
    font-size: 1rem;
  }

  .body,
  .main {
    gap: 4rem;
  }

  .hero,
  .projects,
  .contact {
    scroll-margin-top: 10rem;
  }

  .container {
    width: var(--container-width-small);
  }

  .header-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .hero {
    flex-direction: column;
  }

  .hero img {
    width: 100%;
  }

  .experience-card,
  .contact-card {
    padding: 1rem;
  }
}

/* Utility */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.py-1 {
  padding: 1rem 0;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-8 {
  gap: 8rem;
}
