/* Variable */
:root {
  --color-primary-red: #e21e26;
}

/* Base */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Layout */
.layout {
  min-height: 100vh;
  gap: 1.5rem;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* Component */
.card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.logo {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-primary-red);
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: var(--color-primary-red);
}

.filter-list:hover {
  cursor: pointer;
  color: var(--color-primary-red);
}

.products {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.product {
  border: 1px solid #eee;
  border-radius: 1rem;
  padding: 40px 20px;
  color: var(--color-primary-red);
  transition: transform 0.2s;
}

.product:hover {
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 768px) {
  .layout {
    grid-template-areas:
      'header'
      'sidebar'
      'main'
      'footer';
    grid-template-columns: 1fr;
  }
}

/* Utility */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.p-2 {
  padding: 2rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 2rem;
}
