:root {
  --color-border: #e5e7eb;
}

.layout {
  min-height: 100vh;
  gap: 1.5rem;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
  border-radius: 1rem;
}

.sidebar {
  grid-area: sidebar;
  border-radius: 1rem;
}

.main {
  grid-area: main;
  border-radius: 1rem;
}

.footer {
  grid-area: footer;
  border-radius: 1rem;
}

.filter-list:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.products {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.product {
  border: 0.15rem solid var(--color-border);
  border-radius: 0.5rem;
  color: var(--color-primary);
  transition: transform 0.2s;
}

.product:hover {
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .layout {
    grid-template-areas:
      'header'
      'sidebar'
      'main'
      'footer';
    grid-template-columns: 1fr;
  }
}
